.navbar { 
  margin-bottom: -20px;
}

.navbar-brand{
  height: 60px;
  font-size: 50px;
  margin-top: 15px;
  margin-left: 20px;
  
}

.form-control {
  width: 450px;
  
}

.search-field {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.btn-search {
  height: 34px;
}

.container-fluid__top {
  display:flex;
}

.form-group{
  width: 800px;
  padding-left: 16px;
  margin-top: 15px;
}

.btn-default{
  margin-left: 10px;
}

.form-group__right{
  float: right;
  margin-right: 55px;
}

.form-group__right {
  a, .header-log-in:hover {
    text-decoration: none;
  }
}