.detail{
  background-color: #eee;
  padding-top: 40px;
  &__box{
    box-sizing: border-box;
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    padding: 24px 40px 40px;
    &__title{
      line-height: 2;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    &__list{
      display: flex;
      .detail-main-image{
        display: flex;
      }
    }
  }
}
img.detail-main-image{
  border-radius: 50%;
}
