.detail
  .detail__box
    .detail__box__icon
      = image_tag "#{@user.icon}", size: "100", class: "detail-main-image"
    .detail__box__nickname
      = @user.nickname
      .detail__box__title
      .detail__box__list
        .detail-image-box


-# .detail
-#   .detail__field
-#     .detail__field__user
-#       = @user.nickname
-#     .detail__field__list
-#       .detail-image-box
-#         = image_tag "#{@user.icon}", size: "300", class: "detail-main-image"